{% load static %}
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="user_profile/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="profile-card">
            <div class="image-container">
                <img scr="1.jpeg{% load static %}
                <html>
                    <head>
                        <title>Profile</title>
                        <link rel="stylesheet" href="newstyle.css">
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <!-- jQuery library -->
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <!-- Latest compiled JavaScript -->
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                    </head>
                    <body>
                <div class="frame">
                    <div class="center">
                      
                          <div class="profile">
                              <div class="image">
                                  <div class="circle-1"></div>
                                  <div class="circle-2"></div>
                                  <img src="https://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70" alt="Jessica Potter">
                              </div>
                              
                              <div class="name">Jessica Potter</div>
                              <div class="job">Visual Artist</div>
                              
                              <div class="actions">
                                  <button class="btn">Follow</button>
                                  <button class="btn">Message</button>
                              </div>
                          </div>
                          
                          <div class="stats">
                              <div class="box">
                                  <span class="value">523</span>
                                  <span class="parameter">Posts</span>
                              </div>
                              <div class="box">
                                  <span class="value">1387</span>
                                  <span class="parameter">Likes</span>
                              </div>
                              <div class="box">
                                  <span class="value">146</span>
                                  <span class="parameter">Follower</span>
                              </div>
                          </div>
                    </div>
                  </div></body></html>" style="width:100%">
                <div class="title">
                    <h2>User_name</h2>
                </div>
            </div>
            <div class="main-container">
                <p>First Name: {{user.username}}</p>
                <p>Last Name: </p>
                <p>Website: </p>
                <p>Bio: </p>
                <p>Goals - Interests: </p>
                <hr>
                <p><b>Personal Information</b></p>
                <p>Email: </p>
                <p>Phone no: </p>
                <p>Gender: </p>
                <p>Age: </p>
                <p>Location: </p>
            </div>
        </div>
    </body>
</html>